body {
  margin: 0 auto;
}

#root {
  background-color: #F2EDEB;
  height: 100vh;
  min-height: 1200px;
}

@media only screen and (min-width: 390px) and (max-width: 690px) {
  #root {
    height: 100vh;
  }
}